@import "_color-definitions";

$color-primary: $palette-teal-500;
$color-accent: $palette-indigo-A200;

@import "material-design-lite";

.main-outlet .liquid-child {
  @extend .mdl-grid;
}

.balance-card {
  height: 50px;
  color: white;
  background: rgb(33,150,243);
}

.revenue {
  color: #80cbc4;
}

.expense {
  color: #E57373;
}

// Chart legend style

*[class$='-legend'] {
  list-style: none;
  right: 8px;
  top: 0;
  a {
    text-decoration: none;
    color: inherit;
  }
}
*[class$='-legend'] li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
*[class$='-legend'] li:hover {
  background-color: #fafafa;
}
*[class$='-legend'] li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

.match-parent {
  width: 100%;
  height: 100%;
}