.revenue {
  color: #80cbc4;
  float: right;
}

.expense {
  color: #E57373;
  float: right;
}

.avatar {
  background-color: teal;
  line-height: 48px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.invoices-total {
  background-color: #006064;
  .mdl-card__supporting-text, .mdl-card__title{
    color: rgba(255,255,255,0.87);
  }
  .mdl-card__supporting-text {
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 24px;
  }
}

#Al {
  background-color: #ef6c00;
}
#Ed {
  background-color: #304ffe;
}
#La {
  background-color: #558b2f;
}
#Mo {
  background-color: #8d6e63;
}
#Ro {
  background-color: #6200ea;
}
#Tr {
  background-color: #ff5252;
}
#Di {
  background-color: #d500f9;
}
#Re {
  background-color: #43a047;
}

.mdl-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 16px;
}

.mdl-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.mdl-list__avatar {
  width: 48px;
  height: 48px;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 12px 0px;
  border-radius: 50%;
}

.mdl-list__primary-text {
  margin: 0px;
  float: left;
  font-size: 16px;
  margin-left: 72px;
}

.mdl-list__secondary-text {
  clear: both;
  font-size: 14px;
  margin-left: 72px;
}