{{#if showGraph}}
  {{ember-chart type="Pie" data=groupedInvoices legend=true}}
{{else}}
  {{#md-list}}
    {{#each groupedInvoices as |groupedInvoice|}}
      {{#if groupedInvoice.label}}
        {{#md-list-item class="md-3-line"}}
          <div class="md-list-item-text">
            <h3>
              {{groupedInvoice.label}}
              {{number-to-currency value=groupedInvoice.value isRevenue=isRevenue}}
            </h3>
          </div>
        {{/md-list-item}}
      {{/if}}
    {{/each}}
  {{/md-list}}
{{/if}}
