{{#mdl-card title=cardTitle}}
  <div class="mdl-card__supporting-text">
    {{#if showGraph}}
      {{ember-chart type="Doughnut" data=groupedInvoices options=chartOptions legend=true}}
    {{else}}
      {{#each slicedGroupedInvoices as |groupedInvoice|}}
        {{#if groupedInvoice.label}}
          <p>
            {{groupedInvoice.label}}
            {{number-to-currency value=groupedInvoice.value isRevenue=isRevenue}}
          </p>
        {{/if}}
      {{/each}}
    {{/if}}
  </div>
{{/mdl-card}}
