<div md-scroll-y layout="row" layout-wrap>
  <md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
      <md-card-content>
        <h2 class="md-title">Editar {{expenseOrRevenue}}</h2>
        <p>
          {{partial 'invoice-form'}}
        </p>
      </md-card-content>
  </md-card>
</div>
