<div class="mdl-cell mdl-cell--4-col">
</div>
<div class="mdl-cell mdl-cell--4-col">
  {{#mdl-card}}
    <div class="mdl-card__supporting-text">
      <form {{action 'authenticate' on='submit'}}>
        {{mdl-textfield label='Email' value=identification type="email"}}
        {{mdl-textfield label='Senha' type='password' value=password}}
        {{#mdl-button type="submit"}}Entrar{{/mdl-button}}
      </form>
    </div>
  {{/mdl-card}}
</div>
