<md-card>
    <md-card-content>
      <h2 class="md-title">Para continuar preencha seus dados</h2>
      <p>
        <form {{action 'authenticate' on='submit'}}>
          {{#md-input-container value=identification}}
              <label>Email</label>
              {{md-input type="email" required="required" autofocus=true}}
          {{/md-input-container}}
          {{#md-input-container value=password}}
              <label>Senha</label>
              {{md-input type="password" required="required"}}
          {{/md-input-container}}
          {{#if loginFailed}}
            <div class="error">
              <p>Usuário e/ou senha incorretos</p>
            </div>
          {{/if}}
          {{#md-button type="submit" classNames="md-primary"}}Entrar{{/md-button}}
        </form>
      </p>
    </md-card-content>
</md-card>

