Total ganho: <span>{{number-to-currency value=revenueTotal isRevenue=true}}</span><br>
Total gasto: <span>{{number-to-currency value=expensesTotal}}</span><br>
Balanco: <span>{{number-to-currency value=balance isRevenue=isBalanceRevenue}}</span>
