Total ganho: <span class="revenue">{{number-to-currency value=revenueTotal isRevenue=true}}</span><br>
Total gasto: <span class="expenses">{{number-to-currency value=expensesTotal}}</span><br>
Balanco: <span class="balance">{{number-to-currency value=balance isRevenue=isBalanceRevenue}}</span>
