{{partial 'invoices-filter-form'}}
<div md-scroll-y layout="row" layout-wrap>
  <md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
      <md-card-content>
        <h2 class="md-title">Todas as contas</h2>
        <p>
          {{invoices-list list=filteredModel}}
        </p>
      </md-card-content>
  </md-card>
</div>
