<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
  <div class="mdl-card__title">
    Todas as contas
  </div>
  <div class="mdl-card__media">
  </div>
  <div class="mdl-card__supporting-text">
    {{invoices-list list=model}}
  </div>
  <div class="mdl-card__actions">
  </div>
</div>
