<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
  {{#each invoicesList as |invoice|}}
    <div class="section__text mdl-cell mdl-cell--12-col">
      <h5>{{invoice.category}}</h5>
      {{invoice.description}}
      <span style="float: right;">{{number-to-currency value=invoice.value isRevenue=invoice.revenue}}</span>
    </div>
  {{/each}}
</div>
