{{#mdl-card title=cardTitle class="match-parent"}}
  <div class="mdl-card__supporting-text">
    {{#each invoicesList as |invoice|}}
      {{render 'invoice' invoice}}
    {{/each}}
  </div>
{{/mdl-card}}
