<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
  <div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
      <div class="mdl-card__title">
        Total geral
      </div>
      <div class="mdl-card__media">
      </div>
      <div class="mdl-card__supporting-text">
        {{total-value list=model}}
      </div>
      <div class="mdl-card__actions">
      </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
      <div class="mdl-card__title">
        Despesas por categoria
      </div>
      <div class="mdl-card__media">
      </div>
      <div class="mdl-card__supporting-text">
        ...
      </div>
      <div class="mdl-card__actions">
      </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
      <div class="mdl-card__title">
        Ganhos por categoria
      </div>
      <div class="mdl-card__media">
      </div>
      <div class="mdl-card__supporting-text">
        ...
      </div>
      <div class="mdl-card__actions">
      </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
      <div class="mdl-card__title">
        Despesas por grupo
      </div>
      <div class="mdl-card__media">
      </div>
      <div class="mdl-card__supporting-text">
        ...
      </div>
      <div class="mdl-card__actions">
      </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
      <div class="mdl-card__title">
        Ganhos por grupo
      </div>
      <div class="mdl-card__media">
      </div>
      <div class="mdl-card__supporting-text">
        ...
      </div>
      <div class="mdl-card__actions">
      </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
      <div class="mdl-card__title">
        Despesas por usuario
      </div>
      <div class="mdl-card__media">
      </div>
      <div class="mdl-card__supporting-text">
        ...
      </div>
      <div class="mdl-card__actions">
      </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
      <div class="mdl-card__title">
        Ganhos por usuario
      </div>
      <div class="mdl-card__media">
      </div>
      <div class="mdl-card__supporting-text">
        ...
      </div>
      <div class="mdl-card__actions">
      </div>
    </div>
  </div>
</div>
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
  <div class="mdl-card__title">
    Ultimas contas
  </div>
  <div class="mdl-card__media">
  </div>
  <div class="mdl-card__supporting-text">
    {{invoices-list list=model list-size=5}}
  </div>
  <div class="mdl-card__actions">
  </div>
</div>
