<div class="menu">
  <ul>
    <li>{{#link-to 'dashboard'}}Dashboard{{/link-to}}</li>
    <li>{{#link-to 'invoices'}}Contas{{/link-to}}</li>
    <li>{{#link-to 'new-invoice'}}Nova conta{{/link-to}}</li>
  </ul>
</div>
<div class="content">
  {{outlet}}
</div>
