{{#md-sidenav classNames="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            sidebarVisible=sidebarVisible
            isLockedOpen=sidebarLocked}}

    {{#md-toolbar}}
        <h1 class="md-toolbar-tools">
            {{#link-to 'index' flex='' layoutType="row" class='docs-logo'}}
                <div class="docs-logotype">PartConta</div>
            {{/link-to}}
        </h1>
    {{/md-toolbar}}
    <md-content flex>
        <ul class="docs-menu">
            {{#link-to 'dashboard' activeClass="parentActive" tagName='li'}}
                {{#link-to 'dashboard' class="md-button"}}Visão geral{{/link-to}}
            {{/link-to}}

            {{#link-to 'invoices' activeClass="parentActive" tagName='li'}}
                {{#link-to 'invoices' class="md-button"}}Contas{{/link-to}}
            {{/link-to}}

            {{#link-to 'reports' activeClass="parentActive" tagName='li'}}
                {{#link-to 'reports' class="md-button"}}Relatórios{{/link-to}}
            {{/link-to}}
            
            {{#if session.isAuthenticated}}
              <button {{action 'invalidateSession'}}>Desconectar</button>
            {{/if}}
        </ul>
    </md-content>

{{/md-sidenav}}

<div layout="column" role="main" flex tabindex="-1">
    {{#md-toolbar}}
        <div class="md-toolbar-tools">
            {{#md-button class="md-icon-button" hide-gt-sm='' aria-label="Toggle Menu" action='toggleSidebar'}}
                {{md-icon md-svg-src="assets/images/icons/menu.svg"}}
            {{/md-button}}

            <div class="fill-height" flex layout="row">
                <h2 class="md-toolbar-item md-breadcrumb">
                    <span>
                        <span>Home</span>
                    </span>
                </h2>
            </div>

            <span flex></span>

            <div class="md-toolbar-item md-tools docs-tools" layout="column" layout-gt-md="row">

            </div>

        </div>
    {{/md-toolbar}}

    <md-content class="md-padding" md-scroll-y layout="row" layout-wrap>
      {{outlet}}
    </md-content>


</div>
