{{#each toastNotifications as |toast|}}
  {{md-toast toast=toast}}
{{/each}}

<div layout="column" role="main" flex tabindex="-1">
    {{#md-toolbar class="md-tall"}}
        <div class="md-toolbar-tools">
            <div class="fill-height" flex layout="row">
                <h2 class="md-toolbar-item md-breadcrumb">
                    <span>
                        <span>{{pageTitle}}</span>
                    </span>
                </h2>
            </div>

            <span flex></span>

            <div class="md-toolbar-item md-tools docs-tools" layout="column" layout-gt-md="row">
              {{#if session.isAuthenticated}}
                {{#md-button action='invalidateSession' class="md-accent"}}
                  Sair
                {{/md-button}}
              {{else}}
                {{#link-to 'login' activeClass="parentActive"}}
                  {{#link-to 'login' class="md-button md-accent"}}Entrar{{/link-to}}
                {{/link-to}}
              {{/if}}
            </div>

        </div>
            
        <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
          {{#if session.isAuthenticated}}
            {{#link-to 'dashboard' activeClass="parentActive"}}
              {{#link-to 'dashboard' class="md-button md-accent"}}Início{{/link-to}}
            {{/link-to}}
            {{#link-to 'invoices' activeClass="parentActive"}}
              {{#link-to 'invoices' class="md-button md-accent"}}Contas{{/link-to}}
            {{/link-to}}
            {{#link-to 'reports' activeClass="parentActive"}}
              {{#link-to 'reports' class="md-button md-accent"}}Relatórios{{/link-to}}
            {{/link-to}}
          {{/if}}
        </h2>
    {{/md-toolbar}}

    <md-content class="md-padding" md-scroll-y layout="row" layout-wrap>
      {{outlet}}
    </md-content>


</div>
